@charset "utf-8";
/* Components of Sonolyzer webpage */

/* Search form */
input {
	outline: none;
}

input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
	border:none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}

input[type=search] {
	background: url(../img/search.png) no-repeat right;
	padding: 5px 9px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
	width: 15px;
	color: transparent;
	text-align:right;
	cursor: pointer;
	float:right;
}

input:-moz-placeholder {
	color: transparent;
}
input::-webkit-input-placeholder {
	color: #transparent;
}

input[type=search]:hover {
	width: 180px;
	padding-right: 32px;
	color: DeepSkyBlue;
	cursor: auto;
	background: url(../img/search-blue.png) no-repeat right;
	background-color: white;
}


/* Switch ON/OFF */
.onoffswitch {
    position: relative;
	width: 40px;
    -webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select: none;
	display:inline-block;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
	overflow: hidden;
	cursor: pointer;
    border: 2px solid transparent;
}

.onoffswitch-inner {
    width: 200%;
	margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
	-webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
	transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left;
	width: 50%;
	height: 10px;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    background-clip: padding-box;
}

.onoffswitch-inner:after {
	height:1px;
	margin-top:4px;
}

.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: DeepSkyBlue;
}

.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #CCC;
    text-align: right;
}

.onoffswitch-switch {
    width: 5px;
	margin: 0px;
    background: white;
    position: absolute;
	top: 0;
	bottom: 0;
	right: 35px;
    -moz-transition: all 0.3s ease-in 0s;
	-webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
	transition: all 0.3s ease-in 0s; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}


/* Frequency range */
input[type=range].horizon {
    -webkit-appearance:none;
    background-color: white;
    height:1px;
    width:150px;

}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance:none;
    background-color: white;
    width: 5px;
    height: 15px;
}