@charset "ISO-8859-1";
/* Style des composants de l'application Sonolyzer (checkbox, search form, range) */
/* Webkit : Chromium, Chrome, Safari & Opera 15+ */
/* Moz : Gecko / Firefox */
/* MS : Internet Explorer */
/* O : Opera jusqu'a v12 */

/************ Champ de recherche / Search form ************/
input {
	outline: none;
}

/* Style search form pour navigateur webkit */
input::-webkit-search-decoration, input::-webkit-search-cancel-button {
	display: none; 
}

/* Style du champ de recherche */
input[type=search] {
	background: url(../img/search.png) no-repeat right;
	padding: 6px 10px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
	width: 10px;
	color: transparent;
	text-align:right;
	cursor: pointer;
	float:right;
	border:2px solid white;
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}

input:-moz-placeholder {
	color: transparent;
}

input::-webkit-input-placeholder {
	color: #transparent;
}

/* Style au survol de la souris */
input[type=search]:hover {
	width: 180px;
	padding-right: 32px;
	color: DeepSkyBlue;
	cursor: auto;
	background: url(../img/search-blue.png) no-repeat right;
	background-color: white;
}


/************ Switch filtres ************/
.switch {
    position: relative;
	width: 35px;
    -webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select: none;
	display:inline-block;
}

.switch-checkbox {
    display: none;
}

.switch-label {
    display: block;
	overflow: hidden;
	cursor: pointer;
    border: 2px solid transparent;
}

.switch-inner {
    width: 200%;
	margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
	-webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
	transition: margin 0.3s ease-in 0s;
}

/* Gestion des effets pur CSS3 */
.switch-inner:before, .switch-inner:after {
    float: left;
	width: 50%;
	height: 8px;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    background-clip: padding-box;
}

.switch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #80F;
}

.switch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #0F8;
    text-align: right;
}

.switch-switch {
    width: 5px;
	margin: 0px;
    background: white;
    position: absolute;
	top: 0;
	bottom: 0;
	right: 30px;
    -moz-transition: all 0.3s ease-in 0s;
	-webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
	transition: all 0.3s ease-in 0s; 
}

.switch-checkbox:checked + .switch-label .switch-inner {
    margin-left: 0;
}

.switch-checkbox:checked + .switch-label .switch-switch {
    right: 0px; 
}


/************ Checkbox ************/
input[type=checkbox] {
	visibility: hidden; /* Pour personnaliser completement les checkbox */
}

.activeFilter {
	width: 20px;
	height: 20px;
	display:inline-block;
	vertical-align:middle;
	background: DeepSkyBlue;
	border-radius:2px;
	
	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}

.activeFilter label {
	cursor: pointer;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 2px;
	top: 2px;
	
	border-radius:2px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.activeFilter label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 2px;
	left: 2px;
	border: 3px solid DeepSkyBlue;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.activeFilter label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.activeFilter input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}


/* Frequency range */
input[type=range] {
    -webkit-appearance:none;
	-moz-appearance:progressbar;
	
	background: #00ff88; /* Old browsers */
	background: -moz-linear-gradient(left,  #00ff88 0%, #00bfff 52%, #8800ff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#00ff88), color-stop(52%,#00bfff), color-stop(100%,#8800ff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #00ff88 0%,#00bfff 52%,#8800ff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #00ff88 0%,#00bfff 52%,#8800ff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #00ff88 0%,#00bfff 52%,#8800ff 100%); /* IE10+ */
	background: linear-gradient(to right,  #00ff88 0%,#00bfff 52%,#8800ff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff88', endColorstr='#8800ff',GradientType=1 ); /* IE6-9 */
	
    height:2px;
    width:150px;
	padding:0px;
}

/* Style des ranges sous webkit */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance:none;
    background-color: white;
    width: 4px;
    height: 15px;
	cursor:pointer;
	border-radius:2px;
}

/* Style des ranges sous mozilla */
input[type="range"]::-moz-range-thumb {
	-moz-appearance:none;
    background-color: none;
    width: 4px;
    height: 15px;
	border-radius:0px;
	border:none;
	cursor:pointer;
	border-radius:2px;
}
