@CHARSET "ISO-8859-1";
/* Feuille de style principale */

/* Police importee */
@font-face { 
	font-family: 'normal';
	src: url("../fonts/eurof55.ttf") format("truetype");
}

/* Mise en indice */
sub {
	vertical-align: sub;
	font-size: smaller;
}

/* Style du corps principal de la page */
body {
	width:auto;
	min-width:900px;
	background-color: black;
	font-family: 'normal', Century Gothic, sans-serif;
	font-size:medium;
	color:white;
	overflow:auto;
}

/* Style de l'en-tete */
header {
	height:50px;
	width:100%;
    text-align:right;
}

footer {
	position:fixed;
	bottom:0;
	width:100%;
	height:14px;
	background-color:DeepSkyBlue;
}

#footer_text{
	text-align:center;
	font-size:12px;
	color:white;
} 


/* Corps principal de la page */
div.main {
	width:100%;
	margin:0 auto;
	margin-bottom:20px;
	text-align:center;
}

/* Departage droite et gauche */
aside {
	display:inline-block;
	vertical-align:top;
}

/* Cote gauche de l'application */
aside.left {
	width:280px;
	margin-right:10px;
	text-align:right;
}

/* Cote droit de l'application */
aside.right {
	width:60%;
	min-width:500px;
	text-align:left;
}

/* Lien */
a {
	text-decoration:none;
	color:inherit;
}

/* Titre de niveau 3 */
h3 {
	border-bottom:1px solid white;
	text-transform:uppercase;
}
	
/* Titre de l'application */
div.appName {
	padding:10px;
	vertical-align:middle;
	float:left;
	font-size:30px;
}


/* Action sous forme d'icone */
.icon {
	height:30px;
	width:30px;
	margin:8px;
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	-webkit-border-radius:16px;
	-moz-border-radius:16px;
	border-radius:16px;
	border:2px solid white;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
}

/* Disposition pour le champ de recherche */
form.icon {
	border:none;
	vertical-align:top;
}

/* Lien au survol du pointeur */
a.icon:hover {
	background-color: DeepSkyBlue;
}

/* Barre de gestion des fichiers */
div.fileManagerBand {
	background-color:DeepSkyBlue;
	height:50px;
	width:100%;
}

div.fileManagerBand a.icon:hover {
	background-color: black;
}

/* Affichage du lien de la bande sonore chargee */
p.address {
	height:50px;
	line-height:50px;
	padding-left:20px;
	border-left:solid 1px white;
	background-image:url("../img/spinner.png");
    background-repeat:no-repeat;
    background-position:bottom left;
}

/* Style general d'un module */
section {
    background-color:#333333;
    margin-top:10px;
	text-align:center;
}

section.export {
	height:50px;
	line-height:50px;
}

section.player {
	min-height:100px;
}

section.spectrum {
	height:295px;
	position:relative;
}

section.platine {
	height:120px;
	position:relative;
}

section.frequencyChannels {
	margin-top:0px;
	width:100%;
	height:15px;
	font-size:10px;
	color:#CCC;
	text-align:left;
}

section.spectrum canvas {
	display:block;
}

/* Rotation des ranges pour la platine */
div.gainRange {
	width:120px;
	height:100%;
	-webkit-transform:rotate(-90deg);       
    -moz-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    transform:rotate(-90deg);
    z-index: 0;
}

section.platine a.icon {
	float:right;
	margin-top:40px;
}

/* Style des blocs du module ddes filtres */
div.filterType, div.filterNoise {
	padding:10px;
	margin-bottom:5px;
	text-align:center;
}

div.filterNoise, span.choiceLeft {
	text-align:right;
}

/* Choix droit lors d'un switch */
span.choiceRight {
	text-align:left;
}

h3.filterTitle {
	text-align:right;
}

div.singleFilter, div.doubleFilter {
	padding:10px 0px;
	width:100%;
	border-top:1px solid #666;
}

span.choiceLeft, span.choiceRight, span.switchTwin, span.checkBox {
	width:35%;
	vertical-align:middle;
	display:inline-block;
}

span.switchTwin, span.checkBox {
	width:40px;
}

span.checkBox {
	margin-right:5px;
}

/* Range de frequence */
div.frequencyRange {
	width:100%;
	text-align:left;
	vertical-align:middle;
	display:inline-block;
	margin-bottom:10px;
}

p.frequency {
	display:inline-block;
	margin-left:20px;
	width:32px;
	text-align:center;
}

p.firstFrequency {
	display:inline-block;
	margin-left:35px;
	width:32px;
	text-align:center;
}

div.gainChannels {
	display:inline-block;
	position:absolute;
	left:0px;
	font-size:12px;
	width:30px;
	height:100%;
	color:#CCC;
	text-align:right;
	padding:10px;
}

p.gain {
	margin-bottom:30px;
}

/* Affichage de la frequence en plus petit */
span.smallerToRight {
	font-size:small;
	float:right;
	vertical-align:middle;
	display:inline-block;
}

/* Valeur de la frequence */
div.output {
	width:40px;
	text-align:right;
	vertical-align:middle;
	display:inline-block;
}

/* Affichage historique chargement */
ul.history, ul.history ul {
	width:100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.history:before, ul.history:after {
	content: "";
	display: table;
}

ul.history:after {
	clear: both;
}

ul.history {
	zoom:1;
}

ul.history li {
	float: left;
	position: relative;
	width:100%;
}

ul.history ul {
	margin: 20px 0 0 0;
	width:100%;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 1;    
	background: black;
	transition: all .2s ease-in-out;  
}

ul.history li:hover > ul {
	opacity: 1;
	visibility: visible;
	margin: 0;
}

ul.history ul ul {
	top: 0;
	left: 150px;
	margin: 0 0 0 20px;	
}

ul.history ul li {
	float: none;
	display: block;
	border: 0;
	width:100%;
	height:50px;
	line-height:50px;
	padding-left:20px;
	border-top:1px solid #CCC;
}

ul.toRight {
	margin-left: 20px;
}